# Create a streamlit flow to visualize the data

In [9]:
# import libraries
import sys
import numpy as np
import pandas as pd
import streamlit as st


sys.path.append('../')
# import data

In [10]:
# Variables
water = pd.read_csv('../data_storage/resampled_data_D_gas.csv')
gas = pd.read_csv('../data_storage/resampled_data_D_gas.csv')
power= pd.read_csv('../data_storage/resampled_data_D_power.csv')

In [15]:
water

            date  id_meter        gas_m3  calc_cons
0     2014-09-04       1.0  38911.506000        NaN
1     2014-09-05       1.0  38912.741875   1.235875
2     2014-09-06       1.0  38913.977750   1.235875
3     2014-09-07       1.0  38915.213625   1.235875
4     2014-09-08       1.0  38916.449500   1.235875
...          ...       ...           ...        ...
4774  2014-09-28       8.0   1640.652317   1.954171
4775  2014-09-29       8.0   1642.606487   1.954171
4776  2014-09-30       8.0   1644.560658   1.954171
4777  2014-10-01       8.0   1646.514829   1.954171
4778  2014-10-02       8.0   1648.469000   1.954171

[4779 rows x 4 columns]

## Home

## Sites

In [17]:
st.title("""#Data Utilities""")
st.write('This is a simple web app that allows you to view and manipulate the data')
st.line_chart(water['calc_cons'])

DeltaGenerator()